@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300&family=IBM+Plex+Sans+Condensed&family=Sofia+Sans+Extra+Condensed:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: rgb(47, 44, 44);
    color: white;
}

